@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif !important;
    /* background-color:#1E1E20 !important; */
    /* background-color: #06090f !important; */
    /* background-color: #000 !important; */
    background: #fff !important;
    text-align: center;
    height:100%;
}
img{
  height:auto;
  max-width:100%;
}
a:hover{
text-decoration: none !important;
}
h1, h2, h3, h4, h5, h6, p{
  margin:0;
}